@charset "UTF-8";

/*@import url(formulaires.css);*/
@import url(switch.css);
@import url(todos.css);

body {
    height: 100%;
	font-size: 14px;
    font-weight: 300;
    color: #555;
	background: url('../img/fond.png') repeat #fff;
}

html {
    height: 100%;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
}
.centered {
    text-align: center;
}
.right {
    text-align: right;
}
.padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.input-group-addon {
min-width: 50px;
}

.clearfix {
height: 1px;
width: 100%;
clear: both;
}
	
.wrapper {
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

.boxed {
	max-width: 800px;
    margin: 0 auto;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    min-height: 100%;
	box-shadow: 0 0 5px #ccc;
    background: #fff;
}

.header {
	background: #E9573F;
	background: #333!important;
	text-align: center;
}
.header h1 {
    margin-top: 10px;
    color: #ededed;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
}
.header h1 a {
    color: #ededed;
}
.header h1 a:hover {
    color: #ededed;
	text-decoration:none;
}
.header_acces {

}
.username {
	color: #fafafa;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	float: right;
	margin-top: -5px;
}
.deconnexion {
	color: #CC0000;
	vertical-align: middle;
}

#alertes {
	margin-top: 10px;
}

.btn-border-radius-right {
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
}
